{% extends 'base.html' %}
{% block title_name %} 忘记密码 {% endblock %}
{% block main %}
    {% load static %}
    <style>
    #main_table{
        margin-top: 55px;
        {#border:1px solid #aaa;#}
        padding: 33px;
    }
    #main_table h2{
        padding-bottom: 25px;
    }
    #info{
        margin-top: 10px;
    }
    </style>
    <div class="fg_main">
        <div class="col-md-6 col-md-offset-3" id="main_table" >
            <h2>找回密码</h2>
            <form action="" class=" form-horizontal">
                 <div class="form-group">
                    <div class="col-md-10">
                        <input type="email" class="form-control" id="email" name="email" placeholder="请输入您的注册邮箱">
                        <p id="info"></p>
                    </div>
                  </div>
                <input id="send" style="margin-top: 35px;" type="button" class="btn btn-danger" value="下一步">
            </form>
        </div>
    </div>


    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="{% static 'js/lib/jquery.js' %}"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="{% static 'js/lib/bootstrap.js' %}"></script>
    <script>
        // 正则判断邮箱格式
        function CheckMail(mail) {
            var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
            if (filter.test(mail))
                return true;
            else
                return false;
            }

        $("#email").blur(function () {
            email_value = $("#email").val();
            {#alert(email_value);#}
            email_status = CheckMail(email_value)
            if(email_status){
                $("#info").empty();
                // 验证邮箱是否被注册过
                $.ajax({
                    url:'/users/'+email_value+'/checkemail/',
                    method:'GET',
                    dataType: "json",
                    success:function (data) {
                        if(data.success){
                            $("#info").html("<span style='color:red;'>您输入的邮箱未被注册，请重新输入</span>")
                        }else{
                            $("#send").click(function () {
                                $.ajax({
                                    url:'/users/forget_password/',
                                    method:'POST',
                                    dataType: "json",
                                    data: {"csrfmiddlewaretoken": "{{ csrf_token }}", 'email':email_value},
                                    success:function (data) {
                                        if(data.code == 0){
                                            alert("已发送找回密码邮件，请到您邮箱里点击修改密码链接进行修改");
                                            window.location.href='/users/';
                                        }else{
                                            alert("异常"+data.msg)
                                        }
                                    }
                                })
                            });
                        }
                    }
                })
            }else{
                $("#info").html("<span style='color:red;'>您的邮箱格式不正确，请重新输入</span>")
            }
        });


    </script>

{% endblock %}